azul = #22BCE0
gris = #444

body 
	background #E8E8E8
	color gris
	font-family Arial
	font-size 16px

header
	background gris
	color white
	padding 0.5em

	.logo
		border-right 1px solid azul
		witdh 100px

		img
			width 85px

	.titular
		margin 0 80px 0 100px
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0


.left
	float left

.right
	float right
